.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    /* background-color: #282c34; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .input-group-prepend {
    border: 1px solid #d2d3d5 !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .auth-inner-addform {
    width: 500px;
    height: 600px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all 0.3s;
    color: black;
  }

.btn-nav{
    padding: 30px 70px;
    border: none;
    background-color:forestgreen;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
}

/* nav */
.navbar-expand-lg{
  background-color: #4CBA19;
}

.i-1{
  font-size: 15px;
  color: #ffffff;
}

.logoNav{
height: 80px;
}
  

.nav-item{
  text-align: center;
  font-size: 20px;
}

/* landing */
.btn-sign{
  background-color: #4CBA19;
  font-size: 30px;
  border-radius: 20px;
  color: white;
  border-color: #4CBA19;
  width: fit-content;
  

}

.mainNav{
  background-image: linear-gradient(#4CBA19, #B3E000);
}
/* Top */
.top{
  
    background-image: linear-gradient(#4CBA19, #B3E000);
  
}

.t1{
  color: #ffffff;
  text-align: center;
  padding: 30px 70px;
  font-size: 60px;
}

.t3{
  text-align: center;
}

.t4{
  font-size: 30px;
  color: black
  ;
}

.b{
  color: black;
}

/* mid-content */
.wcard{
  background-color: #FAFAFA;
  border: none;
}

.bt{
    padding: 30px 70px;
    border: none;
    background-color:white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: black;
    border-radius: 20px;
    width: fit-content;
    
    

}
 
.start{
    padding: 30px 70px;
    border: none;
    background-color: #FF7800;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    border-radius: 10px;
    width: fit-content;
}
 /* content-3 */
.card-1{

    background-image: linear-gradient(#4CBA19, #B3E000);
    height: 600px;
 


}

.t-1{
  font-size: 50px;
  margin-top: 10px;

}

.txt-1{
  font-size: 25px;
  height: fit-content;
  color: #ffffff;
}

.t-2{
  font-size: 50px;
}

.txt-2{
  font-size: 20px;
  height: fit-content;
  color: #ffffff;
}
/* .btn1{
  padding: 30px 70px ;
  border: none;
  background-color: #FF7800;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  border-radius: 20px;
  width: fit-content;
  height: 15px;
  

}

.btn-2{
  padding: 30px 70px ;
  border: none;
  background-color: #FF7800;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  border-radius: 20px;
  width: fit-content;
  height: 15px;


} */

.c3-btn{
  padding: 20px 50px;
  border-radius: 10px;

 
}



/* meals CSS */
.card-3{
  background-image: linear-gradient(#4CBA19, #B3E000);
  height: 700px;
}
.m-1{
  font-size: 30px;
  text-align: center;
}
.m-2{
  font-size: 20px;
  text-align: center;
}

.meal-btn{
  padding: 10px 50px;
  border-radius: 10px;
  margin-top: 20px;
}

/* review */
.r{
  font-size: 30px;
  font-weight: bold;
  color: #4CBA19;
}
.r-1{
  background-color:darkgray;
  
}

.e-1{
  font-size: 25px;
  font-weight: bold;
  color: #4CBA19;
}

.e-2{
  font-size: 25px;
  color:black;
  text-align: center;
}

.go{
  /* padding: 30px 70px ; */
  border: none;
  background-color: #FF7800;
  font-family: sans-serif;
  font-weight: bold;
  /* font-size: 16px; */
  color: #ffffff;
  width: fit-content;
}


/* .sign-btn{
background-color: #FF7800;


} */


.login{
  background-color: #FF7800;
  color: #FAFAFA;
}

/* footer */
.footer{
  background-image: linear-gradient(#B1DF01, #E6EA39);
}

/* our menu */
#search
{
  display:inline-flex;
}

#content
{
width:95%;
height:365px;
border:5px solid white;
margin-top:10px;
 margin-left:45px;
background:white;
margin-bottom:30px;
}

.contents
{
    height :360px;
	width : 255px;
	float : left;

	border : 5px solid white;
	 margin: 10px; 
	 margin-left:9px;
	background-color:white;
	margin-right:5px;
}

/* .contents:hover
{
background: #e6ffe6;
} */

#content-a
{
  /* background:url(image/1.png); */
	background-size:220px 220px;
	height:220px;
	width: 220px;
	/* margin-left: 20px;
	margin-top:5px;
	margin-right:auto; */

}

#content-b
{
/* background:url(2.gif); */
	background-size:220px 220px;
	height:220px;
	width: 220px;
	margin-left: px;
	margin-top:2px;
	margin-right:auto;
}

#content-c
{
/* background:url(3.jpg); */
	background-size:220px 220px;
	height:220px;
	width: 220px;
	margin-left:9px;
	margin-top:2px;
	margin-right:auto;
}

#content-d
{
/* background:url(4.gif); */
	background-size:220px 220px;
	height:220px;
	width: 220px;
	margin-left: 9px;
	margin-top:2px;
	margin-right:auto;
	}

#content-e
{
/* background:url(5.jpg); */
	background-size:220px 220px;
	height:220px;
	width: 220px;
	margin-left: 9px;
	margin-top:2px;
	margin-right:auto;
	}
/* 
.first
{
text-align:center;
margin-top:12px;
color:#ff1a1a;


}

.second
{
text-align:center;
color: #1f1f14;
margin-top:0px;
} */

/* .third
{
 


margin-top:2px;
color:black;
} */

#con
{
width:95%;
height:365px;
border:5px solid white;
margin-top:10px;
 margin-left:45px;
background:white;
margin-bottom:20px;
}


#cons
{
width:95%;
height:365px;
border:5px solid white;
margin-top:10px;
 margin-left:45px;
background:white;
margin-bottom:20px;
}

#mybutton
{
  margin:20px;
  padding:20px;
  background-color: orange;
  color: white;
  border:orange;
  font-size: 30px;
  margin-left:500px;
  border-radius: 10%;
  font-size: 20px;
  margin-top :30px;
  

  
}

#mybutton:hover
{
  background-color: #ff944d;
}

#our
{
  text-align: center;
  font-size: 25px;
  color: #008000;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin:10px;
  margin-bottom: 15px;
}

.view
{
  background-color:white;
  color: #00b300;
  margin-left:8px;
  font-family:Arial, Helvetica, sans-serif;
 
}

.view:hover
{
 background-color:  #00b300;
 color:white;
}

.me{
  display: flex;
}

#front
{
  display: flex;
}

#one
{
  margin: 20px;
  margin-left: 90px;
 padding:10px;
}

#two
{
  margin-left: 600px;
  margin-top:20px;
  margin-bottom: 20px;
}


.meal-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.addMeal{
  /* padding: 30px 70px; */
  border: none;
  background-color:forestgreen;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  height: 40px;
  width: 130px;
  justify-content: center;  
  
 
}


.m
{
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 30px;
  margin-left: 40px;
}

.n

{
margin-left: 350px;
}

#o
{
  display: block;
  padding :10px;
  padding-left: 100px;
  padding-right:100px;
  margin-left:50px;
  margin-bottom: 10px;
  margin-top :40px;
  border-radius: 5px;
}

#p
{
  display: block;
  padding :10px;
  padding-left: 140px;
  padding-right:130px;
  margin-left:50px;
  margin-bottom: 10px;
  border-radius: 5px;
 
}

#q

{
  display: block;
  padding :10px;
  padding-left: 90px;
  padding-right:90px;
  margin-left:50px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#head
{
  margin-left: 30px;
}

#bt
{
  margin-left: 160px;
  padding:15px;
  border-radius: 10px;
  background: #ff944d;
  border: orange;
  font:white;
  margin-top:15px;
}


  

#s
{
  display: flex;
  margin-left:500px;
  width:550px;
  padding-top:10px;
  margin-top:15px;
}


#t
{
  display: flex;
  margin-left:500px;
  width:550px;
  margin-top:15px;
  padding-top:10px;
}


#u
{
  display: flex;
  margin-left:500px;
  width:550px;
  margin-top:15px;
  padding-top:10px;
}

#v
{
  display: flex;
  margin-left:500px;
  width:550px;
  margin-top:15px;
  padding-top:10px;
}


#w
{
  display: flex;
  margin-left:500px;
  width:550px;
  margin-top:15px;
  padding-top:10px;
 
  
}


#z
{
  margin-left:700px;
  width:100px;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  border-radius: 10px;
  padding:12px;
  background:#ff944d;
  border:orange;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 18px;
}

#hi
{
  margin-left: 700px;
  font-family: 'Times New Roman', Times, serif;
  margin-top:50px;
  margin-bottom: 30px;
  color: green;
}

.up
{
  text-align: center;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.upp
{
  margin-top: 20px;
 margin-left : 200px;
 font-size: 20px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.uppp
{
 margin-left: 200px;
 width:700px;
}

.dd
{
  display: inline;
}

.ddd
{
margin-left: 400px;
}

.dddd
{
margin-left: 400px;
border:white;
}

.ip
{
  display:flex;
}

#iq
{
  margin-left: 350px;
  margin-top : 20px;
  margin-right:30px;
}

.ir
{
  margin-left: 80px;
  margin-top: 20px;
}

#img
{
  width:170px;
  height: 170px;
  margin-left: 285px;
  margin-top : 20px;
  margin-right: 10px;
}

.iz
{
  margin-left: 20px;
  margin-top: 20px;
}

.i0
{
  margin-left: 65px;
  margin-top: 20px;
}

.i1
{
  margin-left: 63px;
  margin-top: 20px;
}

.i2
{
  margin-left: 80px;
  margin-top: 20px;
}

.i3
{
  margin-left: 87px;
  margin-top: 20px;
}

.i4
{
  margin-left: 100px;
  margin-top: 20px;
}

.i5
{
  margin-left: 125px;
  margin-top: 20px;
}

#hr
{
  width:90%;
}

.acc
{
  margin-left: 70px;
  margin-right: 10px;
  margin-top:20px;
  background: orange;
  padding:7px;
  border: orange;
  border-radius: 6px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
 

}

.dcc
{
 
  margin-top:20px;
  background: orange;
  padding:7px;
  border: orange;
  border-radius: 6px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

.acc:hover
{
  background: #00b300;
  color:white;
}

.dcc:hover
{
  background: #00b300;
  color:white;
}

#a00
{
  margin-left: 500px;
  padding:12px;
  margin-top:15px;
  margin-bottom:25px;
  background: #008000;
  color:white;
  border:#008000;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

#a00:hover
{
  background:#4CBA19;
  color:white;
  font-size: 20px;
}

#hrr
{
  width:60%;
  margin-left:10px;
}

#p0
{
  display: flex;
}

#red
{
 margin-left:200px;
 font-size: 20px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#re
{
  margin-left:90px;
  font-size: 20px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



#r
{
  margin-left:100px;
  font-size: 20px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#imo
{
  width:150px;
  height:150px;
  margin-left:200px;
}

#veg
{
margin-left:140px;
font-size:20px;
}

#ve
{
margin-left :165px;
font-size: 20px;
}

#bu
{
  margin-left:50px;
  padding:9px;
  background: blue;
  color:white;
  border:blue;
  border-radius: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#bu:hover{
  background: blueviolet;
}

#rod
{
  margin-left:200px;
  margin-top:20px;
  font-size: 20px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#sh
{
 margin-top:5px;
 margin-left: 200px;
 font-size: 18px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#shh
{
  margin-top:5px;
  margin-left:200px;
  font-size: 18px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#up0
{
  margin-left: 500px;
  padding:9px;
  background: orangered;
  border:green;
  border-radius:5px;
  font-size: 20px;
  margin-bottom:15px;
  color:white;

}

#up0:hover{
  background:orange;
  
}






.review-btn{
  padding: 10px 50px;
  border-radius: 0%;
  margin-top: 20px;

}


.serving{
  border-color: black;
  background-color: white;
  color: black;
  
}
.serving:hover{
  background-color: #008000;
}


