.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    /* background-color: #282c34; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .input-group-prepend {
    border: 1px solid #d2d3d5 !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .auth-inner-addform {
    width: 500px;
    height: 600px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all 0.3s;
    color: black;
  }

.btn-nav{
    padding: 30px 70px;
    border: none;
    background-color:forestgreen;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
}

/* nav */
.mainNav{
height:35px
}

.navbar-expand-lg{
  background-color: #4CBA19;
}

/* .fa-envelope{
  height: 40px;
  color: white;
  margin-top: 20px;

}

.fa-phone{
  height: 40px;
  color: white;
  margin-top: 20px;
  margin-left: 100px;

} */
.i-1{
  font-size: 15px;
  color: #ffffff;
  /* margin-left: 10px;
  margin-top: 10px; */
}
/* 
.fa-light{
  height: 40px;
  color: white;
  margin-top: 20px;
  margin-left: 10000px;
} */


.logoNav{
height: 80px;
}
  

.nav-item{
  text-align: center;
  font-size: 20px;
}

/* landing */
.btn-sign{
  background-color: #4CBA19;
  font-size: 30px;
  border-radius: 20px;
  color: white;
  border-color: #4CBA19;
  width: fit-content;
  

}

.mainNav{
  background-image: linear-gradient(#4CBA19, #B3E000);
}
/* Top */
.top{
  
    background-image: linear-gradient(#4CBA19, #B3E000);
  
}

.t1{
  color: #ffffff;
  text-align: center;
  padding: 30px 70px;
  font-size: 60px;
}

.t3{
  text-align: center;
}

.t4{
  font-size: 30px;
  color: black
  ;
}

.b{
  color: black;
}

/* mid-content */
.wcard{
  background-color: #FAFAFA;
  border: none;
}

.bt{
    padding: 30px 70px;
    border: none;
    background-color:white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: black;
    border-radius: 20px;
    width: fit-content;
    
    

}
 
.start{
    padding: 30px 70px;
    border: none;
    background-color: #FF7800;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    border-radius: 10px;
    width: fit-content;
}
 /* content-3 */
.card-1{

    background-image: linear-gradient(#4CBA19, #B3E000);
    height: 600px;
 


}

.t-1{
  font-size: 50px;
  margin-top: 10px;

}

.txt-1{
  font-size: 25px;
  height: fit-content;
  color: #ffffff;
}

.t-2{
  font-size: 50px;
}

.txt-2{
  font-size: 20px;
  height: fit-content;
  color: #ffffff;
}
/* .btn1{
  padding: 30px 70px ;
  border: none;
  background-color: #FF7800;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  border-radius: 20px;
  width: fit-content;
  height: 15px;
  

}

.btn-2{
  padding: 30px 70px ;
  border: none;
  background-color: #FF7800;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  border-radius: 20px;
  width: fit-content;
  height: 15px;


} */

.c3-btn{
  padding: 20px 50px;
  border-radius: 10px;

 
}



/* meals CSS */
.card-3{
  background-image: linear-gradient(#4CBA19, #B3E000);
  height: 700px;
}
.m-1{
  font-size: 30px;
  text-align: center;
}
.m-2{
  font-size: 20px;
  text-align: center;
}

.meal-btn{
  padding: 10px 50px;
  border-radius: 10px;
  margin-top: 20px;
}

/* review */
.r{
  font-size: 30px;
  font-weight: bold;
  color: #4CBA19;
}
.r-1{
  background-color:darkgray;
  
}

.e-1{
  font-size: 25px;
  font-weight: bold;
  color: #4CBA19;
}

.e-2{
  font-size: 25px;
  color:black;
  text-align: center;
}

.go{
  /* padding: 30px 70px ; */
  border: none;
  background-color: #FF7800;
  font-family: sans-serif;
  font-weight: bold;
  /* font-size: 16px; */
  color: #ffffff;
  width: fit-content;
}


/* .sign-btn{
background-color: #FF7800;


} */


.login{
  background-color: #FF7800;
  color: #FAFAFA;
}

/* footer */
.footer{
  background-image: linear-gradient(#B1DF01, #E6EA39);
}

/* our menu */
#search
{
  display:inline-flex;
}

#content
{
width:95%;
height:365px;
border:5px solid white;
margin-top:10px;
 margin-left:45px;
background:white;
margin-bottom:30px;
}

.contents
{
    height :360px;
	width : 255px;
	float : left;

	border : 5px solid white;
	 margin: 10px; 
	 margin-left:9px;
	background-color:white;
	margin-right:5px;
}

/* .contents:hover
{
background: #e6ffe6;
} */

/* #content-a
{
  background:url(image/1.png);
	background-size:220px 220px; 
	height:220px;
	width: 220px;
	margin-left: 20px;
	margin-top:5px;
	margin-right:auto;

} */

#content-b
{
/* background:url(2.gif); */
	background-size:220px 220px;
	height:220px;
	width: 220px;
	margin-left: px;
	margin-top:2px;
	margin-right:auto;
}

#content-c
{
/* background:url(3.jpg); */
	background-size:220px 220px;
	height:220px;
	width: 220px;
	margin-left:9px;
	margin-top:2px;
	margin-right:auto;
}

#content-d
{
/* background:url(4.gif); */
	background-size:220px 220px;
	height:220px;
	width: 220px;
	margin-left: 9px;
	margin-top:2px;
	margin-right:auto;
	}

#content-e
{
/* background:url(5.jpg); */
	background-size:220px 220px;
	height:220px;
	width: 220px;
	margin-left: 9px;
	margin-top:2px;
	margin-right:auto;
	}
/* 
.first
{
text-align:center;
margin-top:12px;
color:#ff1a1a;


}

.second
{
text-align:center;
color: #1f1f14;
margin-top:0px;
} */

/* .third
{
 


margin-top:2px;
color:black;
} */

#con
{
width:95%;
height:365px;
border:5px solid white;
margin-top:10px;
 margin-left:45px;
background:white;
margin-bottom:20px;
}


#cons
{
width:95%;
height:365px;
border:5px solid white;
margin-top:10px;
 margin-left:45px;
background:white;
margin-bottom:20px;
}

#mybutton
{
  margin:20px;
  padding:20px;
  background-color: orange;
  color: white;
  border:orange;
  font-size: 30px;
  margin-left:500px;
  border-radius: 10%;
  font-size: 20px;
  margin-top :30px;
  

  
}

#mybutton:hover
{
  background-color: #ff944d;
}

#our
{
  text-align: center;
  font-size: 25px;
  color: #008000;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin:10px;
  margin-bottom: 15px;
}

.view
{
  background-color:white;
  color: #00b300;
  margin-left:8px;
  font-family:Arial, Helvetica, sans-serif;
 
}

.view:hover
{
 background-color:  #00b300;
 color:white;
}

.me{
  display: flex;
}

#front
{
  display: flex;
}

#one
{
  margin: 20px;
  margin-left: 90px;
 padding:10px;
}

#two
{
  margin-left: 600px;
  margin-top:20px;
  margin-bottom: 20px;
}


.meal-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.addMeal{
  /* padding: 30px 70px; */
  border: none;
  background-color:forestgreen;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  height: 40px;
  width: 130px;
  justify-content: center;  
  
 
}

.review-btn{
  padding: 10px 50px;
  border-radius: 0%;
  margin-top: 20px;
}